#footer{
	background-color: #2d3985;
	padding-top: 15px;
	padding-bottom: 15px;
}
#footer p{
	color: #fff;
	margin-bottom: 0;
}
#footer a{
	display: inline-block;
	color: #fff;
}
#footer li{
	text-align: center;
	border-right: 1px solid #fff;
}
a:hover,#footer a:active,a:focus{
	text-decoration: none;
}
#footer li:last-child {
	border-right: 0;
}
#footer ul{
	margin-bottom: 0;
}
@media (max-width: 992px){
	#footer p{
		text-align: center;
		padding-bottom: 15px;
	}
}


